# --------------------- This file contain all the Dependency or requirements related to this Project ------------------------

ctransformers==0.2.5         # This package is helpfull for Loding the "Quantize" model using Langchain.
sentence-transformers==2.2.2 # Embadding model from "HuggingFace"
pinecone-client              # Pinecone Vector DB to store "Knowledge base" and "semantic index"
langchain==0.0.225           # Langframe work for LLM 
flask                        # Web app/ API creation
ipykernel                    # jupyter notebook extension to run ipynb file 
pypdf                        # Python modeule to load PDF file
python-dotenv                # This helps to import .env file's varibale into some other file
-e .                         # to install the setup the setup.py file